<div class="max-w-2xl m-auto">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-8">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Create an account
        </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>

          <div class="space-y-4 md:space-y-6">
            <div class="field">
              <%= f.label :first_name, class:"#{label_class}" %>
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class:"#{text_field_input}", placeholder: "first name" %>
            </div>

            <div class="field">
              <%= f.label :last_name, class:"#{label_class}" %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class:"#{text_field_input}", placeholder: "last name" %>
            </div>
            
            <div class="field">
              <%= f.label :email, class:"#{label_class}" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"#{text_field_input}", placeholder: "email@company.com" %>
            </div>

            <div class="field">
              <%= f.label :password, class: "#{label_class}" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"#{text_field_input}", placeholder: "••••••••" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class:"#{label_class}" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"#{text_field_input}", placeholder: "••••••••" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class:"#{form_submit_btn}" %>
            </div>
            
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Already have an account? <%= link_to 'Login here', new_user_session_path, class:"font-medium text-primary-600 hover:underline dark:text-primary-500" %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>