<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            <%= @project.new_record? ? "Create a new project" : "Edit project" %>
        </h1>
        <%= render 'shared/errors_validation', obj: @project%>
        <%= form_with model: @project, data: { turbo: false } do |form| %>
          <div class="space-y-4 md:space-y-6">
            <div>
              <%= form.label :name, class:"#{label_class}" %>
              <%= form.text_field :name, autofocus: true, class:"#{text_field_input}", placeholder:"Project name" %>
            </div>

            <div>
              <%= form.label :description, class:"#{label_class}" %>
              <%= form.text_area :description, rows:3, class:"#{text_area_input}", placeholder:"Description..." %>
            </div>

            <div>
              <%= form.label :status, class:"#{label_class}" %>
              <%= form.select :status, ['active', 'suspended', 'ended'], {}, {class:"#{select_input}" }%>
            </div>

            <div>
              <%= form.label :start_date, class:"#{label_class}" %>
              <%= form.date_select :start_date, {}, {class:"#{date_select_input}" } %>
            </div>

            <div>
              <%= form.label :end_date, class:"#{label_class}"%>
              <%= form.date_select :end_date, {}, {class:"#{date_select_input}" } %>
            </div>

            <div>
              <%= form.submit (@project.new_record? ? "Create project" : "Update project"), class:"#{form_submit_btn}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>