<!DOCTYPE html>
<html>
  <head>
    <title>PmApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>

    <main class="mt-20 pt-5">
      <div class="max-w-2xl m-auto">
        <%= render 'layouts/messages'%>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
